body {
}
﻿
body {
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

* {
    padding: 0;
    margin: 0
}

.page {
}


.container {
}

    .container.wrapper {
        padding-top: 80px
    }

.bookdetailwrap {
    background: url("http://nhanam.com.vn/Content/images2/headerbg.png") repeat scroll 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 4px #444;
    margin: 10px auto;
    padding: 30px;
    width: 940px;
    min-height: 400px
}

    .bookdetailwrap .breadcrumbs {
        position: relative;
        top: 0
    }

.bookdetail {
    padding: 10px 0 0;
    color: #333
}

    .bookdetail .image {
        float: left;
        height: 342px;
        position: relative;
        width: 318px;
        position: relative;
        text-align: center
    }

        .bookdetail .image img {
            max-height: 320px;
            max-width: 320px;
            border: 1px solid #ccc
        }

        .bookdetail .image .overlay {
            display: none
        }

    .bookdetail .info {
        margin-left: 366px;
        border-bottom: 4px solid #cacbcc;
    }

        .bookdetail .info h1 {
            border-bottom: 4px solid #cacbcc;
            line-height: 0;
            padding-bottom: 15px;
            margin-bottom: 30px;
            text-transform: uppercase;
            color: #015e00;
            font-size: 16px;
            line-height: 25px
        }

            .bookdetail .info h1 a {
                color: #015e00;
                font-size: 16px;
                line-height: 25px
            }

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.text-center {
    text-align: center
}

.bookdetail .attributes {
    float: left;
}

.bookdetail li {
    border-bottom: 1px solid #999;
    color: #333;
    line-height: 20px;
    padding: 5px 0;
}

.bookdetail .action {
    margin-left: 315px;
    position: relative;
}


.bookdetail .price p {
    margin-bottom: 5px;
    background: #0f5731;
    color: #fff;
    font-size: 14px;
    padding: 8px 5px
}

.bookdetail .price {
}

    .bookdetail .price .oldprice {
        background: #808081;
        font-size: 12px;
        padding: 5px
    }

        .bookdetail .price .oldprice span {
            text-decoration: line-through;
            font-weight: normal;
            font-size: 12px
        }

    .bookdetail .price span {
        padding-left: 5px;
        font-size: 20px;
        font-weight: bold
    }

.bookdetail .sbuttons {
    margin-top: 10px
}

.bookdetail .intro {
}

.bookdetail .quantity {
    display: block;
    float: left;
    width: 72px
}

.bookdetail .tbQty {
    border: 1px solid #999;
    font-size: 16px;
    height: 45px;
    text-align: center;
    width: 35px
}

.bookdetail .arrowBlock {
    height: 30px;
    margin-left: -2px;
    float: right;
    width: 30px
}

.addtocart,
.buynow {
    background: #cf6b50;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 5px
}

.bookdetailblock {
    border-top: 4px solid #cacbcc;
    margin-top: 50px;
    padding-top: 20px;
    position: relative
}

    .bookdetailblock h1 {
        background: none repeat scroll 0 0 #0f5731;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        left: 0;
        padding: 8px 15px;
        position: absolute;
        text-transform: uppercase;
        top: -32px
    }

        .bookdetailblock h1 a {
            color: #fff
        }

.bookdetailblockcontent {
    color: #334
}

    .bookdetailblockcontent h1 {
        border: medium none;
        color: #0f5731;
        font-size: 24px;
        font-style: italic;
        font-weight: normal;
        margin-top: 10px;
        text-align: center
    }

    .bookdetailblockcontent article {
        font-size: 14px;
        line-height: 21px;
        font-family: arial;
        word-wrap: break-word
    }

        .bookdetailblockcontent article p {
            margin-bottom: 10px
        }

.bookslider {
    padding: 0 20px;
    position: relative
}

    .bookslider .next,
    .bookslider .prev {
        background: url("http://nhanam.com.vn/Content/images2/arrright.png") no-repeat scroll center center rgba(0,0,0,0);
        border: 0 none;
        display: block;
        height: 30px;
        opacity: .8;
        text-indent: -9999px;
        transition: all 200ms ease-in-out 0s;
        width: 30px;
        z-index: 9;
        position: absolute;
        top: 90px
    }

        .bookslider .next:hover,
        .bookslider .prev:hover {
            opacity: 1
        }

    .bookslider .prev {
        left: -8px;
    }

    .bookslider .next {
        background-image: url("http://nhanam.com.vn/Content/images2/arrleft.png");
        right: -8px
    }

.bookP {
    float: left;
    margin: 0 10px;
    padding: 5px 0 71px;
    position: relative;
    height: 232px;
}

.listbookP {
    list-style: none;
    background: url("http://nhanam.com.vn/Content/images/book_bg.png") repeat-y scroll 0 0 rgba(0,0,0,0);
    margin: 10px auto 0;
    padding: 0 50px;
    width: 900px;
}

.bookP img {
    height: 226px
}

#slider-wrapper {
    width: 1000px;
    margin: 0 auto;
}

.category {
    color: #000;
    margin: 25px auto 30px;
    padding: 0;
    text-align: center;
    width: 220px;
    font-family: 'Times New Roman';
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    background-color: darkgreen;
}

.pagetitle {
    color: #000;
    margin: 25px auto 30px;
    padding: 0;
    text-align: center;
    width: 888px;
}

    .pagetitle a {
        background: url("http://nhanam.com.vn/Content/images2/lbcenter.png") no-repeat scroll center top rgba(0,0,0,0);
        color: #fff;
        display: inline-block;
        font-family: 'Times New Roman';
        font-size: 20px;
        font-weight: normal;
        padding: 28px 10px 35px;
        position: relative;
        text-shadow: 1px 1px 1px rgba(116,117,118,.5);
        text-transform: uppercase
    }

        .pagetitle a:before {
            background: url("http://nhanam.com.vn/Content/images2/lbleft.png") no-repeat scroll 0 0 rgba(0,0,0,0);
            content: " ";
            display: block;
            height: 85px;
            left: -32px;
            position: absolute;
            top: 0;
            width: 32px;
            padding: 0
        }

        .pagetitle a:after {
            background: url("http://nhanam.com.vn/Content/images2/lbright.png") no-repeat scroll 0 0 rgba(0,0,0,0);
            content: " ";
            display: block;
            height: 85px;
            position: absolute;
            right: -32px;
            top: 0;
            padding: 0;
            width: 32px
        }

    .pagetitle span {
        font-size: 16px;
        text-shadow: none;
        padding-left: 15px
    }

.popup {
    background: url("http://nhanam.com.vn/Content/images2/book_hover.png") no-repeat scroll 0 0 rgba(0,0,0,0);
    display: none;
    height: 250px;
    left: 15px;
    padding: 5px 20px;
    position: absolute;
    top: 157px;
    width: 200px;
    z-index: 1000
}

.name {
    height: 20px;
    width: 146px;
    padding: 16px 0 0;
    line-height: 14px;
}

    .name a {
        color: #fff;
        font-size: 10px;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
    }

.description {
    height: 48px;
    color: #434343;
    line-height: 16px;
    overflow: hidden;
    padding: 5px 0 0;
}

.price {
    display: block;
    font-size: 24px;
    margin-top: 8px;
    color: #0f5731;
}

    .price .old {
        text-decoration: line-through;
        font-size: 14px;
        color: #fff;
    }

.addtocart, .buynow, .preordernow {
    background: url("http://nhanam.com.vn/Content/images2/book_button_bg.png") repeat scroll 0 0 rgba(0,0,0,0);
    height: 25px;
    line-height: 25px;
    margin-left: 28px;
    padding: 0;
    text-align: center;
    width: 150px;
    font-family: arial,sans-serif;
    font-size: 12px;
}

.bookP:hover .popup {
    display: block;
}

