@model NhaNam.Models.Cart

@{
    ViewBag.Title = "CheckOut";

}
<style>
    .checkout-head {
        text-align: justify;
        border-bottom: 1px solid #cecece;
        height: 60px;
        margin-bottom: 20px;
        padding: 0 10px 5px;
    }

    .checkout-box {
        color: #333;
        font-size: 14px;
        padding: 10px 0 0 40px;
    }

        .checkout-box input[type="text"], .checkout-box input[type="tel"], .checkout-box input[type="email"], .checkout-box textarea {
            padding: 5px;
            font-size: 12px;
            width: 250px;
            font-family: arial,sans-serif;
            border-radius: 3px;
            border: 1px solid #ccc;
        }

   </STYLE>
    <h2>ĐƠN HÀNG</h2>
<h1> <button id="button_cancel" type="button" style="background: none; border: 0; top: 25px; color: #fff; display: block; height: 30px; line-height: 30px; position: absolute; right: 5px; width: 30px; "> X</button> </h1>

@using (Html.BeginForm("Checkout", "ShoppingCart"))
{
<div class="checkout">


    <div class="s0">
        <form>
            <div class="checkout-box">
                <h3 class="checkout-title" style="padding-bottom: 5px; margin-bottom: 5px; color: #000;">Thông tin người mua</h3>

                <label for="Hoten">Họ và tên</label>
                <input data-val="true" id="Hoten" data-val-required="Hãy nhập Họ và tên" type="text" name="Hoten">
                <span style="color: #b94a48;"></span><br />
                <label for="sdt">Số điện thoại</label>
                <input data-val="true" id="sdt" data-val-required="Hãy nhập Số điện thoại" type="tel" name="sdt" />
                <span style="color: #b94a48;"></span><br /><br />
                <label for="email">Email</label>
                <input data-val="true" id="email" data-val-required="Hãy nhập Email" data-val-email="Không đúng Email" type="email" name="Email" />
                <span style="color: #b94a48;"></span><br />
                <label for="note">Ghi chú</label>
                <textarea rows="2" cols="20" id="Note" name="Note"></textarea><br />

                <h3 class="title" style="padding-bottom: 5px; margin-bottom: 5px; color: #000;">Địa chỉ nhận hàng</h3>
                <label for="CityID">Thành phố</label>
                <select name="CityID">
                    <option value="1" selected="selected">Hà Nội</option>
                    <option value="2">Hồ Chí Minh</option>
                    <option value="11">Đắk Nông</option>
                    <option value="12">Hải Phòng</option>
                    <option value="13">Đà Nẵng</option>
                    <option value="14">Cần Thơ</option>
                    <option value="15">Bạc Liêu</option>
                    <option value="16">Bắc Giang</option>
                    <option value="17">Bắc Cạn</option>
                    <option value="18">Bắc Ninh</option>
                    <option value="19">Bến Tre</option>
                    <option value="20">Bình Dương</option>
                    <option value="21">Bình Định</option>
                    <option value="22">Bình Phước</option>
                    <option value="23">Bình Thuận</option>
                    <option value="24">Cà Mau</option>
                    <option value="25">Cao Bằng</option>
                    <option value="26">Đắk Lắk</option>
                    <option value="27">Đồng Nai</option>
                    <option value="28">Đồng Tháp</option>
                    <option value="29">Gia Lai</option>
                    <option value="30">Hà Giang</option>
                    <option value="31">Hà Nam</option>
                    <option value="32">Hà Tây</option>
                    <option value="33">Hà Tĩnh</option>
                    <option value="34">Hải Dương</option>
                    <option value="35">Hòa Bình</option>
                    <option value="36">Hưng Yên</option>
                    <option value="37">Khánh Hòa</option>
                    <option value="38">Kiên Giang</option>
                    <option value="39">Kon Tum</option>
                    <option value="40">Lai Châu</option>
                    <option value="41">Lạng Sơn</option>
                    <option value="42">Lào Cai</option>
                    <option value="43">Lâm Đồng</option>
                    <option value="44">Long An</option>
                    <option value="45">Nam Định</option>
                    <option value="46">Nghệ An</option>
                    <option value="47">Ninh Bình</option>
                    <option value="48">Ninh Thuận</option>
                    <option value="49">Phú Thọ</option>
                    <option value="50">Phú Yên</option>
                    <option value="51">Quảng Bình</option>
                    <option value="52">Quảng Nam</option>
                    <option value="53">Quảng Ngãi</option>
                    <option value="54">Quảng Ninh</option>
                    <option value="55">Quảng trị</option>
                    <option value="56">Sóc Trăng</option>
                    <option value="57">Sơn La</option>
                    <option value="58">Tây Ninh</option>
                    <option value="59">Thái Bình</option>
                    <option value="60">Thái Nguyên</option>
                    <option value="61">Thanh Hóa</option>
                    <option value="62">Thùa Thiên Huế</option>
                    <option value="63">Tiền Giang</option>
                    <option value="64">Trà Vinh</option>
                    <option value="65">Tuyên Quang</option>
                    <option value="66">Vĩnh Long</option>
                    <option value="67">Vĩnh Phúc</option>
                    <option value="68">Yên Bái</option>
                    <option value="69">An Giang</option>
                    <option value="70">Bà Rịa - Vũng Tàu</option>
                    <option value="71">Hậu Giang</option>
                    <option value="72">Điện Biên</option>
                </select>
                <br />

                <p class="pdistrict" style="">
                    <label for="DistrictID">Quận Huyện</label>
                    <select name="DistrictID" id="DistrictID">
                        <option value="1" selected="selected" data-cod="1">Q. Ba Đình</option>
                        <option value="2" data-cod="1">Q.Cầu Giấy</option>
                        <option value="3" data-cod="1">Q.Đống Đa</option>
                        <option value="4" data-cod="1">Q.Hà Đông</option>
                        <option value="5" data-cod="1">Q.Hai Bà Trưng</option>
                        <option value="6" data-cod="1">Q.Hoàn Kiếm</option>
                        <option value="7" data-cod="1">Q.Hoàng Mai</option>
                        <option value="8" data-cod="0">Q.Long Biên</option>
                        <option value="9" data-cod="1">Q.Tây Hồ</option>
                        <option value="10" data-cod="1">Q.Thanh Xuân</option>
                        <option value="11" data-cod="0">TX.Sơn Tây</option>
                        <option value="12" data-cod="0">H.Ba Vì</option>
                        <option value="13" data-cod="0">H.Chương Mỹ</option>
                        <option value="14" data-cod="0">H.Đan Phượng</option>
                        <option value="15" data-cod="0">H.Đông Anh</option>
                        <option value="16" data-cod="0">H.Gia Lâm</option>
                        <option value="17" data-cod="0">H.Mê Linh</option>
                        <option value="18" data-cod="0">H.Mỹ Đức</option>
                        <option value="19" data-cod="0">H.Phú Xuyên</option>
                        <option value="20" data-cod="0">H.Phúc Thọ</option>
                        <option value="21" data-cod="0">H.Quốc Oai</option>
                        <option value="22" data-cod="0">H.Sóc Sơn</option>
                        <option value="23" data-cod="0">H.Thạch Thất</option>
                        <option value="24" data-cod="0">H.Thanh Oai</option>
                        <option value="25" data-cod="0">H.Thanh Trì</option>

                        <option value="26" data-cod="0">H.Thường Tín</option>
                        <option value="27" data-cod="1">H.Từ Liêm</option>
                        <option value="28" data-cod="0">H.Ứng Hòa</option>
                        <option value="29" data-cod="0">Hoài Đức</option>
                        <option value="1000" data-cod="0">Không xác định</option>
                    </select>
                </p>
                <br />
                <br />
                <label for="Diachi">Địa chỉ</label>

                <input data-val="true" id="Diachi" data-val-required="Hãy nhập Họ và tên" type="text" name="Diachi">

                <span style="color: #b94a48;"></span>
                <br />
                <br />
                <button type="submit" id="continue" style="background-color: #00870a; border: 0 none; color: #fff; cursor: pointer; font-size: 14px; padding: 6px 15px; text-transform: uppercase; display: inline-block; float: right; ">
                    TIẾP TỤC
                </button>
            </div>
        </form>
    </div>
</div>
}