@model NhaNam.Models.OrderDetail
<style>
    .checkout-ship {
        color: #333;
        font-size: 14px;
        padding: 10px 0 0 40px;
    }
</style>

<div class="s1">
    <div class="checkout-ship">
        <ul>
            <li>
                <input type="radio" name="ship" value="giaovathu">
                <label><strong style="font-family:Arial, Helvetica, sans-serif; font:12px;"> Giao hàng và thu tiền tại nhà</strong></label>

                <p style="font-family:Arial, Helvetica, sans-serif; font:12px;">
                    Giao hàng trong 48h kể từ thời điểm xác nhận đơn hàng.
                </p>
            </li>
            <li>
                <input type="radio" name="ship" value="nhanh">
                <label><strong style="font-family:Arial, Helvetica, sans-serif; font:12px;">Chuyển phát nhanh</strong></label>
                <br>
                <p style="font-family:Arial, Helvetica, sans-serif; font:12px;">
                    Chi tiết cước xem tại: <a href="http://nhanam.com.vn/tin-tuc/10/chinh-sach-van-chuyen" style="color:green">Chính sách vận chuyển</a>
                    Giao hàng trong 48h làm việc kể từ thời điểm xác nhận đơn hàng
                </p>
            </li>
        </ul>
        <button class="checkout-back" style=" background: none repeat scroll 0 0 #eee; color: #666;float:left"><a href="@Url.Action("Checkout", "ShoppingCart")>QUAY LẠI</a></button>
        <button class="checkout-next" style="background-color: #00870a; color: #fff; float: right;"><a>TIẾP TỤC</a></button>
    </div>
</div>