<h2>GIỎ HÀNG</h2>
<h1> <button id="button-cancel" type="button" style="background: none; border: 0; top: 25px; color: #fff; display: block; height: 30px; line-height: 30px; position: absolute; right: 5px; width: 30px; "> X</button> </h1>

<a href="@Url.Action("Index" , "Product")"> Tiếp tục mua hàng</a>
{
    <div id="dialog-wrap">
        <div id="cart">
            <table class="table">
                <thead>

                    <tr>

                        <th>STT</th>

                        <th>Tiêu đề</th>

                        <th>Giá</th>

                        <th>Số lượng</th>

                        <th>Tổng cộng</th>

                        <th></th>

                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td colspan="6">
                                Không có sản phảm nào trong giỏ
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>

