<form method="GET" action="kiem-tra-don-hang">
    <h4 style=" color: #524643; font-size: 18px; text-transform: uppercase;">KIỂM TRA ĐƠN HÀNG</h4>
    <input name="orderrid" value placeholder="Nhập mã đơn hàng của bạn" class="text" type="text" id="kiem-tra-don-hang" name="kiem-tra-don-hang" style="width:60%; padding: 5px 10px; font-size: 12px; font-family: Arial; ">
    <button class="submit" type="submit" style="background: none repeat scroll 0 0 #00870a;
    border: 1px solid #00870a;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;">
        Tìm mã
    </button>
</form>
