
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link href="~/Content/StyleDetail.css" rel="stylesheet" />
<script src="~/Scripts/jsShopping.js"></script>
<div class="container">

    <div style=" margin: 0 auto;text-align:center;">
        <a href="http://nhanam.com.vn/combo-sach-null/null"> <img src="~/Content/Images/anh1.jpg" style="width: 1000px; margin-top: 20px;" /></a>
    </div>

    @* SÁCH MỚI TÁI BẢN *@
    <h1 class="pagetitle">
        <a href="~/Views/Home/Product.cshtml">
            Sách mới - Tái bản
        </a>
    </h1>
    <ul class="listbookP clearfix">
        <li class="bookP">
            <a class="image" href="/Views/Home/Detail.cshtml" title="Lời của Nietzsche cho người trẻ">
                <img src="~/Content/Images/book1.jpg" />
            </a>
            <div class="popup">
                <h1 class="name">
                    <a>Lời của Nietzsche cho người trẻ</a>
                </h1>
                <div class="description">
                    <ul>
                        <li>Số trang:403</li>
                        <li>Kích thước: 14 x 20.5cm</li>
                        <li>Ngày phát hành: 30-10-2023</li>
                    </ul>
                </div>
                <p class="price">
                    151.200đ
                    <span class="old">189.000đ</span>
                </p>
                <a class="addtocart"href="~/Models/Cart.cs">Thêm vào giỏ hàng</a>
                <a class="buynow">Mua ngay</a>
            </div>
        </li>
        <li class="bookP">
            <a class="image" href="/Views/Home/Detail.cshtml" title="Lời của Nietzsche cho người trẻ">
                <img src="~/Content/Images/book2.jpg" />
            </a>
            <div class="popup">
                <h1 class="name">
                    <a>Lời của Nietzsche cho người trẻ</a>
                </h1>
                <div class="description">
                    <ul>
                        <li>Số trang:403</li>
                        <li>Kích thước: 14 x 20.5cm</li>
                        <li>Ngày phát hành: 30-10-2023</li>
                    </ul>
                </div>
                <p class="price">
                    151.200đ
                    <span class="old">189.000đ</span>
                </p>
                <a class="addtocart">Thêm vào giỏ hàng</a>
                <a class="buynow">Mua ngay</a>
            </div>

        </li>
        <li class="bookP">
            <a class="image" href="/Views/Home/Detail.cshtml" title="Lời của Nietzsche cho người trẻ">
                <img src="~/Content/Images/book3.jpg" />
            </a>
            <div class="popup">
                <h1 class="name">
                    <a>Lời của Nietzsche cho người trẻ</a>
                </h1>
                <div class="description">
                    <ul>
                        <li>Số trang:403</li>
                        <li>Kích thước: 14 x 20.5cm</li>
                        <li>Ngày phát hành: 30-10-2023</li>
                    </ul>
                </div>
                <p class="price">
                    151.200đ
                    <span class="old">189.000đ</span>
                </p>
                <a class="addtocart">Thêm vào giỏ hàng</a>
                <a class="buynow">Mua ngay</a>
            </div>
        </li>
        <li class="bookP">
            <a class="image" href="/Views/Home/Detail.cshtml" title="Lời của Nietzsche cho người trẻ">
                <img src="~/Content/Images/book4.jpg" />
            </a>
            <div class="popup">
                <h1 class="name">
                    <a>Lời của Nietzsche cho người trẻ</a>
                </h1>
                <div class="description">
                    <ul>
                        <li>Số trang:403</li>
                        <li>Kích thước: 14 x 20.5cm</li>
                        <li>Ngày phát hành: 30-10-2023</li>
                    </ul>
                </div>
                <p class="price">
                    151.200đ
                    <span class="old">189.000đ</span>
                </p>
                <a class="addtocart">Thêm vào giỏ hàng</a>
                <a class="buynow">Mua ngay</a>
            </div>
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book5.jpg" />
            <div class="popup">
                <h1 class="name">
                    <a>Lời của Nietzsche cho người trẻ</a>
                </h1>
                <div class="description">
                    <ul>
                        <li>Số trang:403</li>
                        <li>Kích thước: 14 x 20.5cm</li>
                        <li>Ngày phát hành: 30-10-2023</li>
                    </ul>
                </div>
                <p class="price">
                    151.200đ
                    <span class="old">189.000đ</span>
                </p>
                <a class="addtocart">Thêm vào giỏ hàng</a>
                <a class="buynow">Mua ngay</a>
            </div>

        </li>
        <li class="bookP">
            <img src="~/Content/Images/book6.jpg" />
            <div class="popup">
                <h1 class="name">
                    <a>Lời của Nietzsche cho người trẻ</a>
                </h1>
                <div class="description">
                    <ul>
                        <li>Số trang:403</li>
                        <li>Kích thước: 14 x 20.5cm</li>
                        <li>Ngày phát hành: 30-10-2023</li>
                    </ul>
                </div>
                <p class="price">
                    151.200đ
                    <span class="old">189.000đ</span>
                </p>
                <a class="addtocart">Thêm vào giỏ hàng</a>
                <a class="buynow">Mua ngay</a>
            </div>

        </li>
        <li class="bookP">
            <img src="~/Content/Images/book7.jpg" />
            <div class="popup">
                <h1 class="name">
                    <a>Lời của Nietzsche cho người trẻ</a>
                </h1>
                <div class="description">
                    <ul>
                        <li>Số trang:403</li>
                        <li>Kích thước: 14 x 20.5cm</li>
                        <li>Ngày phát hành: 30-10-2023</li>
                    </ul>
                </div>
                <p class="price">
                    151.200đ
                    <span class="old">189.000đ</span>
                </p>
                <a class="addtocart">Thêm vào giỏ hàng</a>
                <a class="buynow">Mua ngay</a>
            </div>

        </li>
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
            <div class="popup">
                <h1 class="name">
                    <a>Lời của Nietzsche cho người trẻ</a>
                </h1>
                <div class="description">
                    <ul>
                        <li>Số trang:403</li>
                        <li>Kích thước: 14 x 20.5cm</li>
                        <li>Ngày phát hành: 30-10-2023</li>
                    </ul>
                </div>
                <p class="price">
                    151.200đ
                    <span class="old">189.000đ</span>
                </p>
                <a class="addtocart">Thêm vào giỏ hàng</a>
                <a class="buynow">Mua ngay</a>
            </div>

        </li>
        <li class="bookP">
            <img src="~/Content/Images/book5.jpg" />
            <div class="popup">
                <h1 class="name">
                    <a>Lời của Nietzsche cho người trẻ</a>
                </h1>
                <div class="description">
                    <ul>
                        <li>Số trang:403</li>
                        <li>Kích thước: 14 x 20.5cm</li>
                        <li>Ngày phát hành: 30-10-2023</li>
                    </ul>
                </div>
                <p class="price">
                    151.200đ
                    <span class="old">189.000đ</span>
                </p>
                <a class="addtocart">Thêm vào giỏ hàng</a>
                <a class="buynow">Mua ngay</a>
            </div>

        </li>
    </ul>

    @* SÁCH BÁN CHẠY *@

    <h1 class="pagetitle">
        <a href="~/Views/Home/Product.cshtml">Sách bán chạy</a>
    </h1>
    <ul class="listbookP clearfix">
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
            <div class="popup">
                <h1 class="name">
                    <a>Lời của Nietzsche cho người trẻ</a>
                </h1>
                <div class="description">
                    <ul>
                        <li>Số trang:403</li>
                        <li>Kích thước: 14 x 20.5cm</li>
                        <li>Ngày phát hành: 30-10-2023</li>
                    </ul>
                </div>
                <p class="price">
                    151.200đ
                    <span class="old">189.000đ</span>
                </p>
                <a class="addtocart">Thêm vào giỏ hàng</a>
                <a class="buynow">Mua ngay</a>
            </div>

        </li>
        <li class="bookP">
            <img src="~/Content/Images/book2.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book3.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book4.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book5.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book6.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book7.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
    </ul>

    @* VĂN HỌC VIỆT NAM *@


    <h1 class="pagetitle">
        <a href="~/Views/Home/Product.cshtml">Văn học Việt Nam</a>
    </h1>
    <ul class="listbookP clearfix">
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book2.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book3.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book4.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book5.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book6.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book7.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
    </ul>

    @* VĂN HỌC NƯỚC NGOÀI *@

    <h1 class="pagetitle">
        <a href="~/Views/Home/Product.cshtml">Văn học nước ngoài</a>
    </h1>
    <ul class="listbookP clearfix">
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book2.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book3.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book4.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book5.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book6.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book7.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
    </ul>

    @* THỜI SỰ CHÍNH TRỊ *@

    <h1 class="pagetitle">
        <a href="~/Views/Home/Product.cshtml">Thời sự - Chính trị</a>
    </h1>
    <ul class="listbookP clearfix">
        <li class="bookP">
            <img src="~/Content/Images/book2.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book5.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book4.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book6.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book4.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book7.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
    </ul>

    @* KHOA HỌC TỰ NHIÊN - NHÂN VĂN *@

    <h1 class="pagetitle">
        <a onclick="themvaogiohang" href="~/Views/Home/Product.cshtml">Khoa học tự nhiên - Nhân văn</a>
    </h1>
    <ul class="listbookP clearfix">
        <li class="bookP">
            <img src="~/Content/Images/book2.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book5.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book4.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book6.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book4.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book7.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
    </ul>

    @* THIẾU NHI *@

    <h1 class="pagetitle">
        <a href="~/Views/Home/Product.cshtml">Thiếu nhi</a>
    </h1>
    <ul class="listbookP clearfix">
        <li class="bookP">
            <img src="~/Content/Images/book2.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book5.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book4.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book6.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book4.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book7.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
    </ul>

    @* THAM KHẢO *@

    <h1 class="pagetitle">
        <a href="~/Views/Home/Product.cshtml">Tham khảo</a>
    </h1>
    <ul class="listbookP clearfix">
        <li class="bookP">
            <img src="~/Content/Images/book2.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book5.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book4.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book6.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book4.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book7.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
    </ul>

    @* GIẢM GIÁ ĐẶC BIỆT *@

    <h1 class="pagetitle">
        <a href="~/Views/Home/Product.cshtml">Giảm giá đặc biệt</a>
    </h1>
    <ul class="listbookP clearfix">
        <li class="bookP">
            <img src="~/Content/Images/book2.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book5.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book4.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book6.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book4.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book7.jpg" />
        </li>
        <li class="bookP">
            <img src="~/Content/Images/book1.jpg" />
        </li>
    </ul>


</div>

